.im_the_highest_stud_div {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom left, #0309a8, #00c4a7);
}

.StudentLogin {
  width: 25%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.student_input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.student_button,
.return_button {
  background-color: blue;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  margin: 8px;
  padding: 12px 24px;
  cursor: pointer;
}

.return_button {
  background-color: black;
}
