.container {
  text-align: center;
  height: 100vh;
  background-color: #87CEEB;
}

.its_flexing_time {
  display: flex;
  justify-content: center;
}

.second_container {
  display: grid;
  place-items: center;
  width: 100vw;
  position: fixed;
  top: 63px;
  left: 0;
}

.info_text {
  padding: 0.75em;
  text-align: left;
  background-color: #ebedf0;
  border: 3px solid black;
  border-radius: 10px;
  max-width: 800px;
}
