.we_da_top_row {
  height: 100vh;
  background-image: linear-gradient(to bottom right, red, blue);
}

.register_student_button,
.actual_logout_button {
  background-color: black;
}

.top_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.students_i_guess {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 450px;
  max-width: 35%;
  background-color: #e9e9e9;
  padding: 5px;
  margin: 10px;
}

.teacher_items {
  display: flex;
  align-items: center;
}

.teacher_items img {
  margin-right: 10px;
}

.teacher_items p {
  margin: 0;
  width: 400px;
}
